#avitar{
    width: 150px;
    border-radius: 50%;
}

#avitarContainer{
    margin-bottom: 10px;
}

#aboutMe{
    margin-top: 50px;
}

@media screen and (max-width: 960px){
    #aboutMe{
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px){
    #aboutMe{
        margin-top: 0px;
        margin-left: 0;
    }
}