.navbar {
    background: transparent;
    height: 60px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    transition: 0.5s;
    z-index: 999;
}

.navbar.sticky {
    background: rgb(34, 32, 32);
    height: 60px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.nav-link {
    color: rgb(34, 32, 32);
    transition: 0.5s;
}

.nav-link:hover {
    color: rgb(238, 231, 231);
    transition: 0.5s;
}

.navbar.sticky .nav-link {
    color: rgb(235, 235, 235);
    transition: 0.5s;
}

.navbar.sticky .nav-link:hover {
    color: rgb(235, 235, 235);
}

.navMenu-mobile{
    display: none;
}

@media (max-width: 991px){
    .navbar {
        display: none;
    }

    .navbar.sticky{
        display: none;
    }

    .navMenu-mobile.active{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        background: rgb(31, 30, 30);
        width: 100%;
        top: 60px;
        height: 70vh;
    }

    .nav-link-mobile{
        display: flex;
        justify-content: center;
        padding: 1em;
        font-size: 30px;
        color: rgba(238, 231, 231);
        width: 100%;
    }

    .nav-link-mobile:hover{
        display: flex;
        padding: 1em;
        font-size: 30px;
        background-color: rgb(0, 0, 0);
        color: rgb(179, 174, 174);
        text-decoration: none;
    }

    .navMobile {
        height: 60px;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        transition: 0.5s;
        z-index: 999;
    }

    .navbar-toggle {
        background: rgb(34, 32, 32);
        width: 40px;
        height: 40px;
        margin: 10px;
    }

    .navbar-toggle.active {
        background: rgb(173, 173, 173);
        width: 40px;
        height: 40px;
        margin: 10px;
    }

    .navbar-toggle .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 7px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
}